<html>
<head>
    <title>Albert's Simple Log Viewer</title>
    <script type="text/javascript">
        function settop(x) {
            document.getElementById('top_line').value = x;
        }
    </script>
    <link rel="stylesheet" type="text/css" href="/static/viewlogs.css" />
</head>
<body>
	<h2><a href='/'>Albert's Simple Log Viewer</a></h2>
    <form action="/" method='get'>
    <div>
        <span class="caption-left">Kies een log bestand:</span>
        <span>
            <select name="logfile" id="logfile" onchange="submit()">
            {% for dir in logdirs %}
                <option
                {% if dir == logfile %} selected="selected"{% endif %}
                >{{ dir }}</option>
            </select>
        </span>
        <span>
            <input type="submit" value="verversen" />
            <a href="/top/" title="eerste pagina"><input type="button" value="begin" /></a>
            <a href="/prev/" title="vorige pagina"><input type="button" value="vorige" /></a>
            <a href="/next/" title="volgende pagina"><input type="button" value="volgende" /></a>
            <a href="/bottom/" title="laatste pagina"><input type="button" value="eind" /></a>
        </span>
    </div>
    <div>
        <span class="caption-left">Aantal entries per pagina:</span>
        <span>
            <select name="entries" id="entries" onchange="submit()">
            {% for num in numentries %}
                <option
                {% if num == entrycount %} selected="selected"{% endif %}
                >{{ num }}</option>
            </select>
        </span>
        <span class="caption-middle">Volgorde:</span>
        <span>
            <input type="radio" name="order" value="desc" onclick="settop('refresh');submit()"
            {% if order == "desc" %}checked="checked"{% endif %}
            />&nbsp;nieuwste eerst&nbsp;
            <input type="radio" name="order" value="asc" onclick="settop('refresh');submit()"
            {% if order == "asc" %}checked="checked"{% endif %}
            />&nbsp;nieuwste laatst&nbsp;
        </span>
    </div>
    <div class="message"><strong>{{mld}}</strong>&nbsp;</div>
    <div>
        <table>
            <tr>
                <th>When</th><th>What</th><th>Where</th>
            </tr>
            {% for data in logdata %}
            <tr>
                {% if errorlog %}
                <td>
                <textarea class="data" rows="2" cols="25">{{data.date}}</textarea>
                </td>
                <td>
                <textarea class="data" rows="2" cols="70">{{data.data}}</textarea>
                </td>
                <td>
                <textarea class="data" rows="2" cols="35">{{data.client}}</textarea>
                </td>
                {% else %}
                <td>
                <textarea class="data" rows="2" cols="25">{{data.date}}</textarea>
                </td>
                <td>
                <textarea class="data" rows="2" cols="60">{{data.data}}</textarea>
                </td>
                <td>
                <textarea class="data" rows="2" cols="25">{{data.client}}</textarea>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <input type="hidden" name="current" id="current" value="{{current}}"/>
        <input type="hidden" name="total" id="total" value="{{total}}"/>
        <input type="hidden" name="top_line"id="top_line" value="current"/>
    </div>
    </form>
</body>
</html>
